/* Add here all your CSS customizations */
/*body {
	background-image: url(/theme/img/bg-body.jpg) !important;
	background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}*/